#videoDownloadDropdown {
    position: absolute;
    border: 1px solid var(--yt-spec-10-percent-layer);
    width: 200px;
    z-index: 9999;
    background: var(--yt-main-app-background-tmp);
    margin-left: 240px;
    margin-top: 45px;
    display: none;
}

#videoDownloadDropdown.shown{
    display: block;
}
#downloadVideo {
    background: var(--yt-main-app-background-tmp);
    border: none;
    color: #990000;
    font-weight: 600;
}
#videoDownloadDropdown a {
    display: block;
    padding: 10px;
    color: #990000;
    text-decoration: none;
    font-size: 21px;
    
}
#videoDownloadDropdown a:hover{
    background: var(--yt-spec-10-percent-layer);
}
#videoDownloadDropdown > ul {
    padding-left: 0px;
}